.App {
  text-align: center;
}

body {
  background-image: linear-gradient(to left top, #ec97c8, #c79ad9, #9a9ddd, #6b9fd5, #459dc2, #23a6bf, #06aeb5, #25b4a6, #40ca9e, #6edd8d, #a4ee77, #e0fb5f);
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2rem 2rem;
  
}

.day {
  border-radius: 20px;
  width: 10rem;
  height: 15rem;
  background-color: cadetblue;
  margin: 2rem;
  
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.temps {
  display: flex;
  flex-direction: row; 
  width: 10rem;
  height: 5rem;
}

p {
  padding: 1rem 1rem;
}