.App {
  text-align: center;
}

body {
  background-image: radial-gradient(circle, #ec97c8, #f48d99, #e48e6c, #c1964e, #919d49, #84a650, #73af5b, #5cb76a, #79c969, #99da66, #bbeb62, #e0fb5f);
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2rem 2rem;
  
}

.day {
  border-radius: 20px;
  width: 10rem;
  height: 15rem;
  background-color: cadetblue;
  
  padding: 3rem 2rem;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.temps {
  display: flex;
  flex-direction: row; 
  width: 10rem;
  height: 5rem;
}

p {
  padding: 1rem 1rem;
}